#profile-action {
  width: 100%;
  /* border: solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#expand-btn {
  display: flex;
  flex-direction: row;
}

#resume-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resume-wrapper {
  overflow: auto;
  cursor: pointer;
  /* border: solid red; */
}

#resume-jpg {
  max-width: 100%;
  max-height: auto;
}
