#profile-action {
  width: 100%;
  /* border: solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cardMediaContainer {
  /* border: solid; */
  display: flex inline;
  flex-direction: column;
  justify-content: center;
  /* max-height: 140px; */
}

.greeting {
  display: inline;
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
  margin-right: 2vw;
  margin-left: 2vw;
  /* margin: 2vw; */
}

#toronto-intro-1 {
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#toronto-intro-2 {
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* #intro2 {
  border: solid;
  display: inline-block;
  height: 100%;
} */

#contact-icons-wrapper {
  display: flex;
}

.contact-icon-wrapper {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5vw;
}

.contact-icon {
  max-height: 25px;
  cursor: pointer;
}

#expand-btn {
  display: flex;
  flex-direction: row;
}

#resume-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resume-wrapper {
  overflow: auto;
  cursor: pointer;
  /* border: solid red; */
}

#resume-jpg {
  max-width: 100%;
  max-height: auto;
}
