#brief-display-wrapper {
  margin: 10px;
}

.brief-display-action-wrap {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.brief-display-img-btn-div {
  /* border: solid; */
  margin-right: 0.2em;
  margin-left: 0.2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brief-display-img-btn {
  /* border: solid red; */
  height: 2.3em;
  cursor: pointer;
}
