#brief-display-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  /* width: auto; */
  /* max-width: auto; */
  overflow: auto;
  /* border: solid; */
}
