#parent {
  margin-top: 20px;
  /* width: 1000px; */
  /* border: solid; */
}

#content-centerer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#content-wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-main {
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  /* border: solid; */
  /* width: 100px; */
}

#main-nav-btn-div {
  margin-top: 0;
  margin-bottom: 0.8em;
  /* border: solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-nav-btn {
  width: 10vw;
  max-width: 90px;
}

@media (min-width: 1000px) {
  #main-paper {
    /* border: solid green; */
    /* padding-top: 10px; */
    width: 950px;
  }

  .content-main {
    max-width: 940px;
  }
}

@media (max-width: 1000px) {
  #main-paper {
    /* border: solid red; */
    width: auto;
  }

  .content-main {
    max-width: 89vw;
  }
}
