.container {
  width: auto;
  height: 150px;
  background-image: url("https://raw.githubusercontent.com/vtranduc/portfolio/master/public/main/profile-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#content-wrapper-app {
  width: 100%;
  /* border: solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*  */
  /* position: fixed; */
  width: 100%;
  top: 63px;
  bottom: 0px;
  z-index: -1000;
  background-image: url("3dLI.gif");
  overflow: hidden;
  /* background-size: cover; */
  background-repeat: repeat;
}
